<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="public, max-age=31536000, immutable" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <outboundRules>
                <rule name="Set CSS Cache Headers">
                    <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
                    <conditions>
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/css" />
                    </conditions>
                    <action type="Rewrite" value="public, max-age=31536000, immutable" />
                </rule>
                <rule name="Set JS Cache Headers">
                    <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
                    <conditions>
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/javascript" />
                    </conditions>
                    <action type="Rewrite" value="public, max-age=31536000, immutable" />
                </rule>
                <rule name="Set Image Cache Headers">
                    <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
                    <conditions>
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^image/" />
                    </conditions>
                    <action type="Rewrite" value="public, max-age=31536000, immutable" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
